#window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  cursor: initial;
}

#window-bg {
  word-wrap: normal;
  font-size: 1.2em;
  height: 100%;
  width: 100%;
}

#window-header {
  font-weight: 600;
  margin: 10px;
}

#window-header-bg {
  position: relative;
  cursor: move;
  touch-action: none;
}

.blocker {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1000%;
  z-index: 1000;
}

.resize-x {
  cursor: ew-resize;
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  z-index: 1;

  &#resize-x-left {
    left: 0;
  }

  &#resize-x-right {
    right: 0;
  }
}

.resize-y {
  cursor: ns-resize;
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 1;

  &#resize-y-top {
    top: 0;
  }

  &#resize-y-bottom {
    bottom: 0;
  }
}

.resize-xy {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 2;

  &#resize-xy-left-top {
    cursor: nwse-resize;
    left: 0;
    top: 0;
  }

  &#resize-xy-right-top {
    cursor: nesw-resize;
    right: 0;
    top: 0;
  }

  &#resize-xy-left-bottom {
    cursor: nesw-resize;
    left: 0;
    bottom: 0;
  }

  &#resize-xy-right-bottom {
    cursor: nwse-resize;
    right: 0;
    bottom: 0;
  }
}

#buttons {
  z-index: 100;
}


.window-button {
  color: white;
  cursor: default;
  transition: .2s;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  margin-right: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.maximize:hover {
    background-color: var(--myYellow) !important;
  }

  &.close:hover {
    background-color: var(--myRed) !important;
  }
}

[aria-label][data-balloon-pos='up']:before, [aria-label][data-balloon-pos='up-left']:before {
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0 -1px 0 #fff);
}

[aria-label][data-balloon-pos='down']:before {
  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0 1px 0 #fff);
}

[aria-label][data-balloon-pos='right']:before {
  filter: drop-shadow(-2px 0 1px rgba(0, 0, 0, 0.2)) drop-shadow(1px 0 0 #fff);
}

[aria-label][data-balloon-pos]:before {
  --balloon-color: white;
  z-index: 1000;
}

[aria-label][data-balloon-pos]:after {
  color: black;
  background: white;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

