<div #wrapper id="greetingBgWrapper">
  <div #background id="background"></div>
  <div #sun id="sun">
    <img src="assets/svg/sun.svg" alt="">
    <div #sunray id="sunray"><img src="assets/svg/sunray.svg" alt=""></div>
  </div>
  <div>
    <div #cloud1 id="cloud1">
      <img src="assets/svg/cloud/cloud1.svg" alt="">
    </div>
    <div #cloud2 id="cloud2">
      <img src="assets/svg/cloud/cloud2.svg" alt="">
    </div>
    <div #cloud3 id="cloud3">
      <img src="assets/svg/cloud/cloud3.svg" alt="">
    </div>
  </div>
  <div #popperLeft id="left-popper">
    <img src="assets/svg/popper.svg" alt="">
  </div>
  <div #trumpetLeft id="left-trumpet">
    <img src="assets/svg/trumpet.svg" alt="">
    <div #vfxLeft class="vfx-container" id="vfx-container-left">
      <div class="trumpet-vfx"></div>
      <div class="trumpet-vfx"></div>
      <div class="trumpet-vfx"></div>
    </div>
  </div>
  <div #popperRight id="right-popper">
    <img src="assets/svg/popper.svg" alt="">
  </div>
  <div #trumpetRight id="right-trumpet">
    <img src="assets/svg/trumpet.svg" alt="">
    <div #vfxRight class="vfx-container" id="vfx-container-right">
      <div class="trumpet-vfx"></div>
      <div class="trumpet-vfx"></div>
      <div class="trumpet-vfx"></div>
    </div>
  </div>
  <div #rainbow id="rainbow">
    <div #rainbowAnimator id="rainbow-animator">
      <img src="assets/svg/rainbow.svg" alt="">
    </div>
  </div>
  <app-confetti #confettiComponent></app-confetti>
</div>
