$about-me-bg: var(--myDarkPurple);
$intro-height: 40vh;

#disable {
  z-index: 10000!important;
}

#greetingContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

#greetingComponent {
  width: 100%;
}

#without-contact-me {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background: white;
}

#contentWrapper {
  color: white;
}

.name {
  position: absolute;
}

ng-scrollbar {
  --scrollbar-thumb-color: rgba(255, 255, 255, 0);
  --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.8);
  --scrollbar-size: 20px;
  --scrollbar-border-radius: 10px;
  --scrollbar-padding: 0px;
  --scroll-view-margin: 0px;
}

#name-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //transform: scale(0.5);
  pointer-events: none;
  z-index: 1;
}

#intro {
  position: relative;
  height: $intro-height;
  background: var(--myDark);
}

#icon {
  position: absolute;
  bottom: 100%;
  z-index: 1000;
  opacity: 1;
  width: 100%;
  display: block;
  color: white;
}

#old {
  position: absolute;
  bottom: 5vh;
  right: 10%;
  z-index: 500;
  transform: translateX(50%);
}

#old-btn {
  display: inline-block;
  transform: scale(0);
  border: none;
  border-radius: 1000px;
  color: white;
  background-color: var(--myPersianGreen);
  width: 70px;
  height: 70px;
  //--balloon-color: white;
  font-size: 2em;

  &:hover {
    background-color: #00b7a1;
  }
}


//[aria-label][data-balloon-pos]:after { color : black; background: white; }

#introduction-text {
  position: absolute;
  font-size: 2vmax;
  color: gray;
  top: calc(10vh + 5vw);
  left: 50%;
  transform: translateX(-50%);
}

#intro-border {
  position: absolute;
  top: $intro-height;
  left: 0;
  width: 100%;
  z-index: 1;
}

//#second-half {
//  width: 100%;
//  height: 100vh;
//  background-color: var(--myPurple);
//}

#window-container {
  background-color: $about-me-bg;
  width: 100%;
  z-index: 0;
}

//#about-me-border {
//  position: absolute;
//  bottom: 0;
//  z-index: 0;
//  width: 100%;
//}

#contact-me-container {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

#contact-me {
  pointer-events: auto;
}

@media (orientation: portrait) {

  #introduction-text {
    top: calc(12vh + 7vw);
  }

  #intro {
    height: 30vh;
  }

  #icon {
    font-size: 20vw;
    opacity: 0;
  }

  #old {
    right: 20%;
  }
}


