#background {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--myDark);
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -1000;
}

#greetingContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
}

#greetingComponent {
  width: 100%;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#contentWrapper {
  color: white;
  margin-top: 30vh;
}

.name {
  position: absolute;
}

#scroll {
  height: 100%;
  width: 100%;
  z-index: -1000;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll::-webkit-scrollbar {
  display: none;
}

ng-scrollbar {
  --scrollbar-container-color: transparent;
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
  --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.8);
  --scrollbar-size: 20px;
  &.hide {
    --scrollbar-thumb-color: transparent;
    --scrollbar-thumb-hover-color: transparent;
  }
}

#name-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(0.5);
}

#icon {
  position: absolute;
  bottom: 100%;
  z-index: 5000;
  opacity: 1;
  width: 100%;
  display: block;
  color: white;
}

#old {
  position: absolute;
  bottom: 5vh;
  right: 10%;
  z-index: 500;
  transform: translateX(50%);
}

#old button {
  display: inline-block;
  transform: scale(0);
  border: none;
  border-radius: 1000px;
  color: white;
  background-color: rgb(146, 55, 77);
  width: 70px;
  height: 70px;
  //--balloon-color: white;
  font-size: 2em;

  &:hover {
    background-color: rgb(166, 75, 97);
  }
}

//[aria-label][data-balloon-pos]:after { color : black; background: white; }

#introduction {
  position: relative;
  height: 30vh;
}

#introduction-text {
  font-size: 2vw;
  margin: 30px;
  color: gray;
  padding-left: 12vw;
}

#introduction-animate {
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  z-index: 0;
}


@media (orientation: portrait) {
  #icon {
    font-size: 5vh;
    opacity: 0;
  }

  #name-container {
    transform: scale(1);
  }

  #introduction div {
    font-size: 4.0vw;
    margin: 30px;
    padding: 0;
  }

  #old {
    right: 20%;
  }
}


