<div #scroll id="scroll">
  <div id="old">
    <button routerLink="/old" id="old-btn"
            aria-label="I'm still working ⌛&#10;on my new site ☝&#10;See my old site 👇&#10;in the meantime? 🥺"
            data-balloon-pos="up" data-balloon-break><i class="fas fa-arrow-right"></i></button>
  </div>
  <div class="d-flex justify-content-center no-select" #icon *ngIf="displaySwiper" id="icon">
    <div class="d-flex justify-content-center flex-column text-center">
      <div *ngIf="!isMobile()"> Scroll down
      </div>
      <i class="fa" [class.fa-angle-up]="isMobile()" [class.fa-angle-down]="!isMobile()"></i>
    </div>
  </div>
  <div #wrapper id="wrapper" class="stop-scrolling">
    <div #nameContainer id="name-container"></div>
    <div #greetingContainer *ngIf="displayGreeting" id="greetingContainer"
         [style.height]="returnViewHeight()">
      <app-greeting id="greetingComponent" class="no-select" #greetingComponent
                    (cleanedUp)="setNamePos($event); setUpDisplay()" (cleaningUp)="allowScrolling()"></app-greeting>
    </div>
    <div #content id="contentWrapper">
      <div id="introduction" class="d-flex justify-content-center">
        <div id="introduction-text">{{contentJson.introduction}}</div>
        <app-introduction-animate *ngIf="!isMobile()" #introductionAnimateComponent
                                  id="introduction-animate"></app-introduction-animate>
      </div>
      <div id="about-me-container" class="d-flex justify-content-center">
        <div id="about-me" class="d-flex justify-content-center" [ngClass]="{'flex-column' : isMobile()}">
          <div
            [ngClass]="{'d-flex' : isMobile(),  'justify-content-center' : isMobile()}">
            <div id="about-me-img-container">
              <div class="position-relative">
                <img id="about-me-img-bg" src="./assets/img/aboutMeBg.png" alt="about me background">
                <img id="about-me-img" src="./assets/img/aboutMe.png" alt="about me">
              </div>
            </div>
          </div>
          <div id="about-me-text-container">
            <div id="about-me-text">
              <p *ngFor="let p of contentJson.aboutMe">{{p}}</p>
              <a href="mailto:alex.doan3011@gmail.com">alex.doan3011@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="background"></div>
  </div>
</div>

